@import "partials/palette";
@import "partials/constants";






* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url($img_dir+"smartphone2.jpg");
    background-size: 100%;
}

nav {
    
    background-color: $nav-background;
    display: flex;

    overflow: hidden;
}

img {
    width: 8%;
    min-width: 80px;
    max-width: 220px;
    
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-basis: 40%;
    align-items: center;
    justify-content: space-around ;
}

a {
    padding: 1vh 15px 0px 15px;
    transition: background-color .1s linear;
    font-size: 2vw;
    border-radius: 15px;

    transition: width 0.1s, height 0.1s, ease-in-out 0.5s;
    
}

a:hover {
    background-color: $a-hover-background;
    padding: 2vh 30px 20px 30px;
    color: $a-color;
    font-size: 2.3vw;
    
   
}
.container{
    display:flex;
    width:100%;
    height:100%;
}
.hero{
    display:flex;
    
    flex-flow: column nowrap;
    justify-content: center;
    align-content: flex-start;
    padding: 8% 0% 0% 5%;
}
.btn{
    height:50px;
    width:100px;
    border-radius: 8px;;
    }
.container{

    display: grid;
    gap: 1em 1em;
    padding:1em;
    
    color: $container-color;
    font-size: 200%;
    width: 100vw;
    height:100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: repeat(3 1fr); */

}
.item{
 $item-color:black; 
 background-size: cover;
 object-fit:cover;
 background: $item-fallback-background; /*fall-back if gradients are not supported by browser*/
 background-size: cover;

}
.item1{
    grid-area: 1/1/1/span 2;
    background-image: url($img_dir+"forest1.jpg");
    }
.item2{
    @extend .item;
    grid-area: 1/3/span 2/span 2;
    background-image: url($img_dir+"forest2.jpg" );

}
.item3{
    @extend .item;
    background-image: url($img_dir+"forest3.jpg");
    
}
.item4{
    @extend .item;
    background-image: url($img_dir+"forest4.jpg");
    
}
.item5{
    @extend .item;
    grid-area: 3/1/span 1/span 2;
    background-image: url($img_dir+"forest5.jpg");
    
}
.item6{
    @extend .item;
    grid-area: 3/3/span 1/span 2;
    background-image: url($img_dir+"forest6.jpg" );
    
}
@import "partials/grid_lines";

