
$star-color: wheat;
$nav-background: #EF2F88;
$a-hover-background:  rgb(196, 10, 190);
$a-color: greenyellow;
$container-color: black;
$item-color: black; 
$item-fallback-background: purple; 
$body-background:#000;
 
